
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #AEA79F;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #333;
$gray-900: #212529;
$black: #000;
$blue: #007bff;
$indigo: #6610f2;
$purple: #772953;
$pink: #e83e8c;
$red: #DF382C;
$orange: #E95420;
$yellow: #EFB73E;
$green: #38B44A;
$teal: #20c997;
$cyan: #17a2b8;
$secondary: #F26936;
$info: #5A88C6;
$warning: $yellow;
$danger: #BD116F;
$light: $gray-200;
$yiq-contrasted-threshold: 200;
$body-color: $gray-800;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$dark: #3E3C47;
$table-dark-bg: $dark;
$table-dark-border-color: darken($dark, 5%);
$enable-shadows: true;
$enable-gradients: true;
$enable-hover-media-query: true;
$enable-responsive-font-sizes: true;
$input-btn-padding-y: 0.2rem;
$input-btn-padding-x: 0.8rem;
$font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$primary: #138808;
$success: #2DCC70;
$alert-border-width: 2px;
$badge-padding-y: .4em;
$badge-padding-x: .6em;
$badge-pill-padding-x: .8em;
$badge-border-radius: 0;
$border-radius: .2rem;